#ListProduct {
  padding-block: 70px;
}
.content {
  display: flex;
  flex-direction: column;
  gap: 80px;
  .prodHeader {
    display: flex;
    justify-content: space-between;
  }
  .search {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  input {
    padding: 7px 20px;
    border: 1.5px solid rgba(47, 46, 46, 0.66);
    border-radius: 5px;
  }
}
.filter {
  display: flex;
  gap: 10px;
}
.blocks {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 40px;

  .block {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    max-width: 400px;
    color: black;
    border-radius: 10px;
    background: #00000027;
    padding: 20px;

    .texts {
      display: flex;
      flex-direction: column;
      gap: 10px;
      text-align: start;
    }
    button {
      padding: 7px 120px;
      border: none;
      border-radius: 5px;
      color: green;
      font-weight: 600;
      font-size: 15px;
    }
    .btns {
      display: flex;
      justify-content: space-between;
      button:nth-child(1) {
        padding: 7px 40px;
        border-radius: 5px;
        color: rgb(219, 119, 119);
        font-weight: 600;
        font-size: 15px;
      }
      button:nth-child(2) {
        padding: 7px 40px;
        border-radius: 5px;
        color: rgb(111, 111, 201);
        font-weight: 600;
        font-size: 15px;
      }
    }
    img {
      width: 100%;
      background: none;
    }
  }
}
