.content {
  padding-block: 60px;
}

.blocks {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: space-between;
}

.block {
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 15px;
  width: 300px;
  color: black;
  border-radius: 10px;
}

.block img {
  object-fit: contain;
  max-width: 300px;
  height: 250px;
}

button {
  padding: 7px 120px;
  border: none;
  border-radius: 5px;
  color: green;
  font-weight: 600;
  font-size: 15px;
}

.food {
  background: #00000027;
  height: 430px;
  padding: 20px;
  border-radius: 10px;
}

.texts {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 12px;
  padding-block: 15px;
}

.box {
  display: flex;
  justify-content: center;
  margin-top: 40px;

  :global(.MuiPagination-root) {
    display: flex;
    gap: 8px;
  }

  :global(.MuiPaginationItem-root) {
    font-weight: 500;
    color: #333;
    border-radius: 8px;

    &.Mui-selected {
      background-color: #1976d2;
      color: #fff;
    }

    &:hover {
      background-color: rgba(25, 118, 210, 0.1);
    }
  }
}
